@import "../../../node_modules/dress-code/dist/sass/dress-code";
.navigation__products {
    position: absolute;
    top: 4.4rem;
    left: 0;
    width: 100%;
    background: #fff;

    .menu {
        box-shadow: 0 2px 8px rgba(0,0,0,.25);
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu--sub {
        list-style: none;
        padding-left: 4.2rem;
    }
    .menu--sub__link {
      font-weight: 300;
      font-size: 1.4rem;
      color: #4a4a4a;
    }
    .menu--sub__item {
        border-bottom: 1px solid #ededed;
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
    }
    .menu__item {
        border-bottom: 1px solid #ededed;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
    }
    .menu__link {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 2.5rem 1.2rem 1.2rem 5.2rem;
        border-bottom: 1px solid #ededed;
        color: #4a4a4a;
    }
    @media (min-width: $dc-huge-width) {}
}
