@import "~dress-code";

.navigation__products {
  .menu {
    display: block;
    margin: 0;
    padding: $dc-space100 0;
    list-style: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);

    @media (min-width: $dc-huge-width) {
      box-shadow: none;
      display: flex;
      padding: 0;
      margin-left: $dc-space150;
    }
  }

  .menu--sub {
    list-style: none;
    padding: 0;
    margin: 0 0 $dc-space150;

    @media (min-width: $dc-huge-width) {
      display: flex;
      margin: 0 0 0 16rem;
    }
  }

  .menu__item {
    display: flex;
    flex-direction: column;
  }

  .menu__link {
    position: relative;
    padding: $dc-space100 $dc-space100 $dc-space100 $dc-space250;
    font-size: 1.1rem;
    font-weight: 500;
    color: $dc-gray10;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid $dc-gray70;

    @media (min-width: $dc-huge-width) {
      padding: 1.2rem;
      margin: 0 1.2rem;
      font-size: 1.4rem;
      color: $dc-gray30;
      border: none;

      &:hover {
        color: $dc-gray10;
      }

      &::after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $dc-gray60;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        right: -5px;
        top: 50%;
        margin-top: -3px;
      }
    }
  }

  .menu--sub__link {
    display: block;
    text-decoration: none;

    &:hover,
    &:visited {
      color: $dc-gray10;
    }

    &.highlighted {
      border-left: 4px solid $dc-orange40;

      @media (min-width: $dc-huge-width) {
        border: none;
        & .menu--sub__link-name {
          border-bottom: 2px solid $dc-orange40;
        }
      }

      & .menu--sub__link-name {
        margin-left: 3.4rem;
      }
    }
  }

  .menu--sub__link-name {
    padding: $dc-space125 0 $dc-space125 1rem;
    display: block;
    border-bottom: 1px solid $dc-gray70;
    margin-left: 3.8rem;

    @media (min-width: $dc-huge-width) {
      border-bottom: none;
      padding: $dc-space125 0;
      margin: 0 1.9rem;
    }
  }
}
