# Covers build environment for web application
node_modules
coverage
npm-debug.*
yarn-error.*
.DS_Store

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

# Directory-based project format:
.idea/