@import "~dress-code";

.menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $dc-huge-width) {
    box-shadow: none;
    display: flex;
    margin: 0 $dc-space100 0 0;
  }
}
