@import "../../../node_modules/dress-code/dist/sass/dress-code";

.business-partner-menu {
  background: $dc-white;
  border: 1px solid $dc-gray60;
  height: 300px;
  left: 80%;
  padding: 20px;
  position: fixed;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 500;

  &__last {
    &__list {
      list-style: none;
      overflow: hidden;
      padding: 0;
      width: 100%;
    }

    &__item {
      cursor: pointer;
      float: left;
      display: inline;
      line-height: 1.8em;
      width: 50%;
    }
  }
}