@import "~dress-code/dist/sass/dress-code";

.toggle {
  align-items: center;
  color: $dc-text-color;
  display: flex;
  text-align: center;

  &:hover, &:hover .dc-icon {
    color: $dc-secondary-accent;
    cursor: pointer;
    [stroke^='#'] {
      stroke: $dc-secondary-accent;
    }
  }

  .user-name {
    display: none;

    @media (min-width: $dc-huge-width) {
      display: block;
    }
  }
}