@import "~dress-code";

.logo-button {
  display: flex;
  max-height: 2rem;

  .logo {
    max-height: $dc-touch-size - $dc-space150;
    max-width: 90px;
  }

  &--desktop {
    display: none;

    @media (min-width: $dc-huge-width) {
      display: block;
    }
  }

  &--mobile {
    cursor: pointer;
    margin-left: 0;

    @media (min-width: $dc-huge-width) {
      display: none;
    }
  }

  .menu-toggle {
    @media (min-width: $dc-huge-width) {
      display: none;
    }

    .dc-icon {
      margin-left: 4px;
      vertical-align: middle;
    }
  }
}
