<ul class="menu--sub">
  <li ng-repeat="application in $ctrl.applications track by application.id"
      class="menu--sub__item"
      ng-class="{'menu--sub__item--highlighted' : $ctrl.isCurrentApplication(application.id),
                'menu--sub__item--last': $last}">

    <a class="menu--sub__item__link"
       ng-click="$ctrl.navigateToApplication('http://localhost:8080/' + application.url)"
       href>
            <span class="menu--sub__item__name">
                {{application.name}}
            </span>
    </a>
  </li>
</ul>
