<!-- The user must be in an application and there should be a selected business partner in order to
     show the menu to change it -->
<div ng-if="$ctrl.isApplicationSelected()">
    <nav ng-if="$ctrl.hasCurrentBusinessPartner()">
        <a class="menu__item__link" ng-click="$ctrl.toggleBusinessPartnerMenu()" href>
            <span class="menu__item__name toggle">
            {{$ctrl.getCurrentBusinessPartnerName()}}
            </span>
        </a>
    </nav>
    <business-partner-menu></business-partner-menu>
</div>
