<!-- The user must be in an application and there should be a selected business partner in order to
     show the menu to change it -->
<nav ng-if="$ctrl.isApplicationSelected() && $ctrl.hasCurrentBusinessPartner()">
    <ul class="menu">
        <li class="menu__item">
            <a class="menu__item__link"
               ng-click="$ctrl.toggleBusinessPartnerMenu()"
               href>
                <span class="menu__item__name toggle">
                    {{$ctrl.getCurrentBusinessPartnerName()}}
                </span>
            </a>
        </li>
    </ul>
</nav>