<!-- The user must be in an application and there should be a selected business partner in order to
     show the menu to change it -->
<div ng-if="$ctrl.currentApplication">
    <nav ng-if="$ctrl.currentBusinessPartner">
        <!-- note: toggleBusinessPartnerMenu() is calling the action directly -->
        <a class="menu__item__link" ng-click="$ctrl.toggleBusinessPartnerMenu()" href>
            <span class="menu__item__name toggle">
            {{$ctrl.currentBusinessPartner.name}}
            </span>
        </a>
    </nav>
    <business-partner-menu></business-partner-menu>
</div>
