<div class="logo-button logo-button--mobile"
     ng-click="$ctrl.toggleMobileMenu()">
  <img class="logo"
       src="https://s3-eu-west-1.amazonaws.com/cdn.solutions.zalando.com/zalando-icons/zalando-logo-icon.svg"
       alt="Logo"/>

  <div class="menu-toggle">
    <i class="dc-icon dc-icon--interactive dc-icon--menu"
       ng-class="{'dc-icon--menu': !$ctrl.mobileMenuShown, 'dc-icon--close': $ctrl.mobileMenuShown}"></i>
  </div>
</div>

<div class="logo-button logo-button--desktop">
  <img class="logo"
       src="https://s3-eu-west-1.amazonaws.com/cdn.solutions.zalando.com/zalando-icons/zalando-logo.svg"
       alt="Logo"/>
</div>
