@import "../../../assets/styles/floating-menu";

.business-partner-menu {
  @include floating-menu;

  border: 1px solid $dc-gray60;
  position: fixed;
  top: 4.3rem;
  right: 0;
  height: 100%;
  width: 80%;
  padding: 2.0rem;

  @media (min-width: $dc-huge-width) {
    position: absolute;
    right: -35px;
    width: 350px;
  }

  &__last__list {
    list-style: none;
    padding: 0;
    margin: 0 -2rem;
  }

  &__last__item {
    cursor: pointer;
    line-height: 1.8em;
    padding: .8rem 2rem;

    &:hover {
      background: $dc-blue80;
    }
  }

  .intro-text {
    font-size: 1.8rem;
    font-weight: 300;
    color: $dc-gray40;
    line-height: 1.4;
    text-align: center;

    /* REMOVE BEFORE COMMIT */
    .hidden {
      display: none;
    }
  }

  &__last__heading {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $dc-gray30;
  }
}
