<header class="navigation">
    <logo-button class="navigation__logo">
    </logo-button>

    <div class="navigation__sections">
        <products class="navigation__section navigation__section--navigation"
                products="$ctrl.products"
                user-business-partners="$ctrl.userBusinessPartners">
        </products>

        <shortcuts class="navigation__section navigation__section--shortcuts"
                   products="$ctrl.products"
                   user="$ctrl.user">
        </shortcuts>
    </div>

    <business-partner class="navigation__section navigation__section--business-partner">
    </business-partner>
</header>
