<div class="user-menu">
  <ul class="user-menu__options">
    <li class="user-menu__option user-menu__option--separator-below">
      <a class="user-menu__option__link"
         ng-click=""
         href>
        <span class="user-menu__option__name">My Account</span>
      </a>
    </li>

    <li class="user-menu__option">
      <a class="user-menu__option__link"
         ng-click=""
         href>
        <span class="user-menu__option__name">Terms & Conditions</span>
      </a>
    </li>

    <li class="user-menu__option">
      <a class="user-menu__option__link"
         ng-click=""
         href>
        <span class="user-menu__option__name">Privacy Policy</span>
      </a>
    </li>

    <li class="user-menu__option">
      <a class="user-menu__option__link"
         ng-click=""
         href>
        <span class="user-menu__option__name">Imprint</span>
      </a>
    </li>

    <li class="user-menu__option user-menu__option--separator-above">
      <a class="user-menu__option__link"
         ng-click="$ctrl.logout()"
         href>
        <span class="user-menu__option__name">Logout</span>
      </a>
    </li>
  </ul>
</div>
