@import "../../../assets/styles/floating-menu";

.user-menu {
  @include floating-menu;

  padding: 0 2rem;
  position: absolute;
  text-align: left;
  left: 0;
  top: 50px;
  width: 100%;

  @media (min-width: $dc-huge-width) {
    left: auto;
    right: 0;
    width: 170px;
  }

  &__options {
    list-style: none;
    padding: 0;
    margin: 0 -2rem;
  }

  &__option {
    @media (min-width: $dc-huge-width) {
      cursor: pointer;
      line-height: 1.8em;
      padding: .8rem 2rem;
    }

    &:hover {
      @media (min-width: $dc-huge-width) {
        background: $dc-blue80;
      }
    }

    &__link {
      color: $dc-gray10;
      text-decoration: none;
    }

    &__name {
      border-bottom: 1px solid $dc-gray70;
      display: block;
      margin-left: 3.8rem;
      padding: 1.6rem 0 1.6rem 1rem;

      @media (min-width: $dc-huge-width) {
        border: none;
        margin: 0 auto;
        padding: initial;
      }
    }

    @media (min-width: $dc-huge-width) {
      &--separator-below {
        border-bottom: 1px solid $dc-gray60;
      }

      &--separator-above {
        border-top: 1px solid $dc-gray60;
      }
    }
  }
}
