<!-- The user must be in an application and there should be a selected business partner in order to
     show the menu to change it -->
<div ng-if="$ctrl.currentApplication">
  <nav ng-if="$ctrl.currentBusinessPartner">
    <a class="business-partner__name"
       ng-class="{'business-partner__toggle': !$ctrl.businessPartnerMenuDisabled}"
       ng-click="$ctrl.toggleBusinessPartnerMenu()"
       href>
      <span>
        {{$ctrl.currentBusinessPartner.name}}
      </span>
    </a>
  </nav>
  <business-partner-menu></business-partner-menu>
</div>
