@import "~dress-code";
.navigation__applications {
    @media (min-width: $dc-huge-width) {
        position: absolute;
        top: 4.4rem;
        background: #fff;
        width: 100%;
        left: 0;
    }
}
