<div class="dc-search-form">
    <input class="dc-input dc-search-form__input"
           ng-model="search"
           ng-change="$ctrl.updateResults(search)"
           placeholder="Search..."/>

    <button class="dc-btn dc-search-form__btn">
        <i class="dc-icon dc-icon--search dc-icon--interactive small"></i>
    </button>

    <ul ng-if="$ctrl.searchResults && $ctrl.searchResults.length > 0"
        class="dc-list dc-suggest">
        <li ng-repeat="result in $ctrl.searchResults track by result.id"
            class="dc-suggest__item dc-link"
            ng-click="$ctrl.onClick({selection: result})">
              {{result.name}}
        </li>
    </ul>
</div>
