<div class="navigation navigation--right dc-row dc-row--collapse dc-row--align-middle dc-row--align-spaced">
    <div class="dc-column dc-column--shrink sc-header__user-menu">
        <nav class="navigation--menu">
            <ul className="menu">
                <li class="menu__item">
                    <a class="menu__item__link"
                       ng-click=""
                       href>
                        <span class="menu__item__name">
                          Terms & Conditions
                        </span>
                    </a>
                </li>

                <li class="menu__item">
                    <a class="menu__item__link"
                       ng-click=""
                       href>
                        <span class="menu__item__name">
                          Privacy Policy
                        </span>
                    </a>
                </li>

                <li class="menu__item">
                    <a class="menu__item__link"
                       ng-click=""
                       href>
                        <span class="menu__item__name">
                          Imprint
                        </span>
                    </a>
                </li>

                <li class="menu__item">
                    <a class="menu__item__link"
                       ng-click=""
                       href>
                        <span class="menu__item__name">
                          My Account
                        </span>
                    </a>
                </li>

                <li class="menu__item">
                    <a class="menu__item__link"
                       ng-click=""
                       href>
                        <span class="menu__item__name">
                          Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>