<header class="app-header">
    <navigation class="app-header__section app-header__section--navigation"
                products="$ctrl.products"
                user-business-partners="$ctrl.userBusinessPartners">
    </navigation>

    <business-partner class="app-header__section app-header__section--business-partner"></business-partner>

    <user class="app-header__section app-header__section--user"
          user="$ctrl.user">
    </user>

    <help class="app-header__section app-header__section--help"
          products="$ctrl.products">
    </help>

    <!--<business-partner-menu></business-partner-menu>-->
</header>
