<header class="app-header dc-row dc-row--collapse dc-row--align-middle dc-row--align-spaced">
    <navigation class="dc-column"
                products="$ctrl.products"
                user-business-partners="$ctrl.userBusinessPartners">
    </navigation>

    <business-partner class="dc-column dc-column--shrink business-partner"></business-partner>

    <user class="dc-column dc-column--shrink"
          user="$ctrl.user">
    </user>

    <help class="dc-column dc-column--shrink"
          products="$ctrl.products">
    </help>

    <business-partner-menu ng-if="$ctr.showBusinessPartnerMenu()"></business-partner-menu>
</header>
